.article_page
  .main
    .titled_section
      %h2 What is an Ecovillage?
      .illustration.right
        = image_tag 'findhorn_wind_turbines.jpg'
        .caption Turbines at Findhorn Ecovillage
      %p
        Ecovillages are residential communities with the goal of becoming more socially, economically and 
        ecologically sustainable. Ecovillages are created for a variety of different reasons, and
        might be structured in vastly different ways. Ecovillages can certainly include communes and 
        co-operatives, but most ecovillages in New Zealand consist of privately owned homes, with some
        shared facilities and a shared purpose to create livable and environmentally responsible human
        settlement.

      %p
        Fundamentally, ecovillages are about tackling global problems at the level of our living arrangements. 
        Many of us look about the world today and muse that there has got to be a better way of living. This doesn't
        usually stem from a desire to be against something so much as the belief that if we design our habitations
        in a way that supports community, and nature, then we will actually be healthier and happier. 
        sought to seemingly intractable problems around us. 

      %p
        This site describes ecovillage projects which have been completed or are in-progress in New Zealand. The
        following specific terms are used by some of these projects, and we've attempted to provide useful
        definitions below.
    
    .titled_section
      %h2 Cohousing 
      .illustration.left
        = image_tag 'cohousing.jpg'
        .caption Cohousing in Nevada, USA
      %p
        As defined by McCamant and Durret, Cohousing describes a housing arrangement developed in Denmark over the 
        last 30 years, and now adopted increasingly throughout Europe and North America particularly in urban areas. 
      %p
        Developed and managed by the residents themselves, it combines the autonomy of private dwelling ownership 
        with the advantages of community living. Although individual dwellings are designed to be self-contained, 
        each having its own kitchen, bathroom and living areas, the extensive common facilities and in particular 
        optional commonhouse dinners are valued features of cohousing. Cars are kept at the edge of the site to 
        create a pedestrian friendly area designed for casual interaction and safe play for children. 

      %p
        In America 30 cohousing projects have been completed and there are 150 projects in the planning stage. 
        Nearer to home in Hobart, Tasmania, Cascade Cohousing has been recently completed. 
    
      %ul
        %li= link_to "Wikipedia on Cohousing", "http://en.wikipedia.org/wiki/Cohousing"
        %li= link_to "Cohousing USA", "http://www.cohousing.org/"
        %li= link_to "Cohousing (by Kathryn McCamant, Charles Durrett)", "http://books.google.co.nz/books?id=uHBFPgAACAAJ&dq=inauthor:%22Kathryn+McCamant%22&hl=en&ei=dupdTOqCF4GIvgP_-5ScDA&sa=X&oi=book_result&ct=result&resnum=1&ved=0CCcQ6AEwAA"
        %li= link_to "The Cohousing Handbook (by Chris ScottHanson, Kelly ScottHanson)", "http://books.google.co.nz/books?id=hcgS5Pig6nYC&printsec=frontcover&dq=cohousing&source=bl&ots=wPzKjjSId_&sig=Hkiwbku5KeLWHn55DoeziV-L-0M&hl=en&ei=w-ldTIuoOYuSuwOOvo2aDA&sa=X&oi=book_result&ct=result&resnum=12&ved=0CFUQ6AEwCw#v=onepage&q&f=false"

    %h2 Housing Co-operatives 
    %p
      As defined by Norwood and Smith, Co-op housing is a type of housing ownership in which residents set up, 
      own shares in and control a legal body which owns their housing. Sometimes they have limits fixed upon 
      resale prices. Members pay monthly assessments which include each units proportional share of all the 
      expenses of ownership. Members agree to any type of management that suits their needs ranging from 
      professional property management to hands-on self-management. Other principles are open membership 
      and democratic control. 

    .titled_section
      %h2 Ecovillage 
      .illustration.right
        = image_tag 'ithaca_ecovillage.jpg'
        .caption Ithaca Ecovillage, NY, USA
      %p
        As defined by Gillman, Ecovillages are human scale, full featured settlements which are harmlessly 
        integrated into the natural world in a way that is supportive of healthy human development and can be 
        successfully continued into the indefinite future. 
      %p
        Eco-Villages whether urban or rural attempt to bring the many tools for sustainable human settlements 
        that are now largely available to us. Eco-Villages being built right now in the US incorperate a number 
        of cohousing neighbourhoods, with open space leaseable for agriculture/Permaculture. Permaculture is a 
        key theme as is an emphasis on 'onsite livelihoods' ie work which gives these projects an economic base. 
        In that sense they are mixed use and therefore reduce travel. 
    
      %ul
        %li= link_to "\"What is an Ecovillage?\" from GEN", "http://gen.ecovillage.org/index.php?option=com_content&view=article&id=92&Itemid=215"
        %li= link_to "Wikipedia on Ecovillages", "http://en.wikipedia.org/wiki/Ecovillage"
    
  .aside
    = link_to image_tag("external/genoa_logo.png", :alt => "GENOA"), "http://genoa.ecovillage.org"
    %p
      To browse ecovillages in neighbouring countries, visit GENOA, the 
      = link_to("Global Ecovillage Network Oceania &amp; Asia", "http://genoa.ecovillage.org")
      branch.
    
    %p
      The international site of the
      = link_to("Global Ecovillage Network", "http://gen.ecovillage.org")
      maintains information and resources for ecovillages all around the world.
  
    / = link_to image_tag("external/gen_logo.png", :alt => "GENOA"), "http://gen.ecovillage.org"  