- content_for :head do
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}

- content_for :hero do
  %p
    %span.strong1
      %span.strong3 Ecovillages
      are residential 
      %span.strong2 communities 
      with the goal of becoming more 
      %span.strong3 socially, 
      %span.strong3 economically
      and 
      %span.strong3 ecologically
      sustainable.
  %p
    Ecovillages are created for a variety of different reasons, and
    might be structured in vastly different ways. Ecovillages can certainly include communes and 
    co-operatives, but most ecovillages in New Zealand consist of privately owned homes, with some
    shared facilities and a shared purpose to create livable and environmentally responsible human
    settlement...
  
    = link_to "READ MORE", :controller => 'about', :action => 'ecovillages'

.main
  .communities.preview_list
    - @communities.each do |community|
      .preview
        = image_tag community.photo.url(:thumb), :class => 'photo'
        .contents
          .header
            = link_to community.domain, community.url, :class => 'community_link'
            %h3= community.name
        
          .description
            = community.short_description
.aside
  #map_canvas{:style=>"width:100%; height:500px"}
  = javascript_tag "loadCommunitiesListMap(#{@communities.select(&:mappable?).to_json})"
  