!!! Strict
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title EVCNZ
    = stylesheet_link_tag 'application', 'scaffold'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      .wrap1
        .fixed
          .fixed_inner
            %h1 Eco-Village and Cohousing Association of New Zealand
    %hr.tab_bar
    #hero
      .wrap1
        .wrap2
          .wrap3
            .fixed
              .fixed_inner
                = yield :hero
    #body
      .wrap1
        .fixed
          .fixed_inner
            = yield
